@function vw($px-vw, $base-vw: 1920px) {
  @return ($px-vw * 100vw) / $base-vw
}

main {
  width: 100%;
  overflow: hidden;
}

body {
  &.home {
    main {
      background: url("../img/main-bg.png") no-repeat top center / 100% auto;
    }
  }
}

.section-block {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 2;
  padding-right: 538px;
}

.container {
  width: 100%;
  max-width: vw(1770px);
  padding: 0 vw(25px);
  margin-left: auto;
  margin-right: auto;
}

.title {
  @include title;
}

.hero {
  width: 100%;

  &::after {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #a87a57 0%, #e8c19a 20.08%, #dfa176 48.94%, #ac7f5b 72.8%, #c8a37b 100%);
    position: absolute;
    top: 100%;
    left: 0;
    display: inline-block;
    content: '';
    z-index: 2;
  }

  &__text {
    width: 100%;
    height: 100%;
    max-width: 690px;
    padding-right: 154px;
    padding-top: 239px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    z-index: 4;
  }

  &__image {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 982px;
    bottom: 0;

    &::before {
      width: 100%;
      height: 100%;
      display: inline-block;
      content: '';
      z-index: 2;
      background: url("../img/gradient-hero.svg") no-repeat bottom right / 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &::after {
      width: 719px;
      height: 714px;
      display: inline-block;
      content: '';
      position: absolute;
      z-index: 1;
      top: 51.8%;
      left: -6.2%;
      background: url("../img/hero-img-after.svg") no-repeat center / 100%;
    }

    .img {
      width: 100%;
      z-index: 3;
      position: relative;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .title {
    position: relative;
    z-index: 2;

    &::before {
      position: absolute;
      width: 279px;
      height: 282px;
      display: inline-block;
      content: '';
      background: url("../img/title-after.svg") no-repeat center / 100%;
      top: -102px;
      right: -88px;
    }
  }

  &__sub-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 65px;

    span {
      font-weight: bold;
      font-size: 36px;
      line-height: 1.11;
      text-align: right;
      color: $main-color;
      display: inline-block;
      margin-bottom: 25px;
    }

    p {
      @include defaultFont;
    }
  }
}

.btn-to {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  z-index: 5;
  bottom: 34px;
  left: 39.19%;
  transform: translate(-50%, 0);

  p {
    font-weight: normal;
    font-size: 21px;
    line-height: 1.61;
    text-align: center;
    color: $main-color;
    margin-bottom: 13px;
  }

  &-circle {
    width: 62px;
    height: 62px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      width: 27px;
      height: 17px;
      display: inline-block;
      content: '';
      background: url("../img/arrow.svg") no-repeat center / 100%;
    }

    .crcl {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-70deg);
      transition: all 0.3s ease-out;
      border: 2px solid $main-color;
      border-radius: 50%;

      &::after {
        width: 79px;
        height: 80px;
        display: inline-block;
        content: '';
        position: absolute;
        left: -25%;
        top: -40%;
        background: url("../img/arround-btn.svg") no-repeat center / 100%;
        transition: all 0.3s ease-out;
        opacity: 0;

      }
    }
  }

  &:hover {
    .btn-to-circle {
      .crcl {
        transform: translate(-50%, -50%) rotate(0);

        &::after {
          opacity: 1;
        }
      }
    }
  }
}

.form {
  width: 100%;

  .wpcf7 {
    width: 100%;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.input-wrap {
  width: 100%;
  padding: 2px 3px;
  margin-bottom: 19px;
  border-radius: 26px;
  background: linear-gradient(to right, #a87a57 0%, #ac7f5b 17.15%, #dfa176 33.46%, #af805e 63.58%, #c8a37b 100%);

  transition: all 0.3s ease-out;

  .wpcf7-form-control-wrap {
    width: 100%;
    display: flex;

  }

  input {
    width: 100%;
    height: 49px;
    border-radius: 24px;
    background: #F1F1F1;

    font-weight: 300;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    color: $black;
    border: none !important;
    padding: 5px;
    outline: none;

    &::placeholder {
      color: $main-color;
      text-align: center;
    }
  }

  &:has(input.wpcf7-not-valid) {
    background: red;
  }
}

.filter-select {
  width: 100%;
  margin-bottom: 50px;


  .nice-select {
    width: 100%;
    padding: 2px 3px;
    position: relative;
    border-radius: 26px;

    span {
      font-weight: 300;
      font-size: 20px;
      line-height: 1;
      text-align: center;
      color: $main-color;
      background: #F1F1F1;
      border-radius: 24px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 49px;
      z-index: 2;

      &::after {
        width: 20px;
        height: 13px;
        display: inline-block;
        content: '';
        background: url("../img/arrow.svg") no-repeat center / 100%;
        left: 23px;
        top: 50%;
        transform: translate(0, -50%);
        transition: all 0.3s ease-out;
        position: absolute;
      }
    }

    ul li {
      font-weight: 300;
      font-size: 20px;
      line-height: 1;
      text-align: center;
      color: $main-color;

      &.disabled {
        display: none !important;
      }
    }

    ul {

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      pointer-events: none;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      border-radius: 24px;
      padding: 2px 3px;
      padding-top: 51px;
      transition: all 0.5s ease-out;
      max-height: 0;
      overflow: hidden;

      &::before {
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        border-radius: 26px;
        transition: all 0.3s ease-out;
        z-index: -1;
        display: inline-block;
        content: '';
        position: absolute;
        background: linear-gradient(to right, #a87a57 0%, #ac7f5b 17.15%, #dfa176 33.46%, #af805e 63.58%, #c8a37b 100%);
      }

      &::after {
        left: 3px;
        right: 3px;
        bottom: 2px;
        top: 2px;
        border-radius: 24px;
        transition: all 0.3s ease-out;
        z-index: -1;
        display: inline-block;
        content: '';
        position: absolute;
        background: #F1F1F1;
      }

      li {
        &::before {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #F1F1F1;
          z-index: -1;
          display: inline-block;
          content: '';
        }

        height: 29px;
        flex-shrink: 0;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        z-index: 2;
        pointer-events: auto;
        width: 100%;
        text-align: center;
        transition: all 0.3s ease-out;
        transform: translate(0, -20px);
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F1F1F1;
        opacity: 0;

        &.selected, &:hover {
          &::before {
            background: rgba(199, 132, 225, 0.59);
          }

        }


      }
    }

    &.open {
      border-radius: 30px;

      span {
        border-radius: 28px 28px 0 0;

        &::after {
          transform: translate(0, -50%) rotate(180deg);
        }
      }

      ul {
        border-radius: 29px;
        max-height: 260px;
        padding-top: 45px;
        padding-bottom: 9px;

        &::before {
          border-radius: 30px;
        }

        &::after {
          border-radius: 28px;
        }

        li {
          transform: translate(0, 0);
          opacity: 1;

          &:last-child {
            border-radius: 0 0 94px 94px;
          }

        }
      }
    }
  }


}

.checkbox-field {
  width: 100%;
  margin-top: 26px;

  span {
    width: 100%;
    display: flex;
  }

  label {
    width: 100%;
    position: relative;

    input {
      position: absolute;
      margin: 0;
      padding: 0;
      appearance: none;
      border: none;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
    }
  }

  .wpcf7-list-item-label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    position: relative;
    transition: all 0.3s ease-out;
    font-size: 20px;
    font-weight: normal;
    color: $main-color;
    line-height: 1;

    &::before {
      box-sizing: border-box;
      width: 34px;
      height: 34px;
      border: 2px solid #c8a37b;
      background: #fff;
      border-radius: 50%;
      display: inline-block;
      content: '';
      transition: all 0.3s ease-out;

    }

    &::after {
      width: 19px;
      height: 14px;
      opacity: 0;
      position: absolute;
      top: 26%;
      right: 2.2%;
      display: inline-block;
      content: '';
      background: url("../img/check.svg") no-repeat center / 100%;
    }
  }

  input:checked ~ .wpcf7-list-item-label {
    &::before {
      background: $main-color;
    }

    &::after {
      opacity: 1;
    }
  }
}

.subtitle {
  @include subtitle;
}

.about {
  &-block {
    width: 100%;
    height: 100%;
    padding: 61px 0 34px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 77px;
    padding-right: 71px;
    padding-left: 207px;
  }

  &-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 11px;

    .subtitle {
      width: 100%;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding-right: 5px;
      margin-bottom: 15px;
    }

    p {
      max-width: 404px;

      font-weight: normal;
      font-size: 23px;
      line-height: 1.391;
      text-align: center;
      color: $main-color;
      margin-bottom: 69px;
    }

    span {
      font-weight: bold;
      font-size: 36px;
      line-height: 1.11;
      text-align: center;
      color: $main-color;
      display: inline-block;
      width: 100%;
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }

      strong {
        font-weight: normal;
        color: #C784E1;
        line-height: 1.388;

      }
    }
  }

  &-video {
    flex-shrink: 0;
    width: 481px;
    height: 100%;
    position: relative;

    &::after {
      width: 459px;
      height: 290px;
      position: absolute;
      z-index: 2;
      bottom: -1%;
      right: -3%;
      display: inline-block;
      content: '';
      background: url("../img/leader-srtipe.svg") no-repeat center / 100%;
    }

  }

  &-video__cont {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    appearance: none;
    border-radius: 240px;
    border: 1px solid rgba(199, 132, 225, 0.51);
    box-shadow: 0px 3px 60px rgba(193, 94, 232, 0.51);
    position: relative;

    .img {
      width: 100%;
      height: 100%;
      display: flex;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 47% top;
      }
    }
  }
}

.play-btn {
  position: absolute;
}