@function vw($px-vw, $base-vw: 1920px) {
  @return ($px-vw * 100vw) / $base-vw
}

.footer {
  width: vw(398px);
  position: fixed;
  right: vw(140px);
  top: 0;
  height: 100vh;
  background: #fff;
  box-shadow: 0px -3px vw(50px) #c784e1;
  z-index: 10;

  &::after {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: inline-block;
    content: '';
    background: url("../img/footer-bg.jpg") no-repeat center / cover;
    position: absolute;

  }

  .logo {
    width: vw(202px);
    height: vw(244px);
    display: flex;
    margin-bottom: vw(44px);

    img {
      width: 100%;
      height: 100%;
    }
  }

  .form {
    width: 100%;
    margin-top: vw(43px);
    padding-left: vw(43px);
    padding-right: vw(43px);
  }

  &-container {
    padding-top: vw(22px);
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;


    > p {
      @include defaultFont;
      text-align: center;
      padding-left: vw(12px);
      padding-right: vw(12px);

      strong {
        font-weight: bold;
      }
    }
  }
}


.modal-window {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;

  .backplate {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.76);

    &::before, &::after {
      width: vw(554px);
      height: vw(560px);
      display: inline-block;
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      background: url("../img/procedure-before.svg") no-repeat center / 100%;
    }

    &::after {
      top: auto;
      left: auto;
      right: 0;
      bottom: 0;
      transform: rotate(180deg);
    }
  }

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }
}

.modal-container {
  width: 100%;
  max-width: vw(1600px);
  position: relative;
  z-index: 2;
  background: url("../img/main-after.svg") no-repeat center / 100%, #fff;
  max-height: 100%;
  overflow-y: auto;
  border: 1px solid rgba(199, 132, 225, 0.51);
  box-shadow: 0px 3px 50px rgba(193, 94, 232, 0.51);

  .cls {
    width: 50px;
    height: 50px;
    position: absolute;
    top: vw(10px);
    right: vw(10px);
    padding: vw(5px);
    cursor: pointer;
    z-index: 5;

    span {
      width: 100%;
      height: 2px;
      background: $black;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);

      &:nth-child(2) {
        transform: translate(-50%, -50%) rotate(-45deg);
      }

    }
  }
}

.modal-wrapper {
  width: 100%;
  height: 0;
  position: relative;
  padding-top: 53%;

  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: vw(70px);

    video, iframe {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}



@function vw($px-vw, $base-vw: 360px) {
  @return ($px-vw * 100vw) / $base-vw
}
@media screen and (max-width: 767px) {
  .footer {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    width: 100%;
    height: auto;
    background: #fff;
    box-shadow: 0px -3px 50px #c784e1;

    .form {
      padding: 0 vw(24px);
      margin-top: vw(36px);
    }
  }

  .input-wrap {
    margin-bottom: vw(17px);
  }
  .input-wrap input {
    height: vw(49px);
    font-size: vw(20px);

    &::placeholder {
      font-size: vw(20px);
    }
  }
  .filter-select .nice-select span::after {
    width: vw(20px);
    height: vw(14px);
    left: vw(23px);
  }
  .filter-select .nice-select span {
    font-size: vw(20px);
    height: vw(49px);
    z-index: 10;
  }
  .filter-select .nice-select ul {
    //49px
    padding-top: calc(13.6111vw + 4px);

    z-index: 9;
    background: #f1f1f1;

    li {
      height: vw(29px);
      font-size: vw(20px);
    }
  }
  .filter-select .nice-select.open ul {
    padding-top: vw(46px);
    max-height: vw(300px);
    padding-bottom: vw(10px);

    li {
      &:last-child {
        //padding-bottom: 10px;
        //height: 39px;
      }
    }
  }
  .footer-container {
    padding: vw(43px) 0 vw(107px);
    //padding: 43px 0 1007px;

    p {
      font-size: vw(23px);
      padding: 0 vw(10px);

    }

    .logo {
      display: none;
    }
  }
  .btn {
    height: vw(53px);
    font-size: vw(20px);
    gap: vw(6px);
  }
  .checkbox-field {
    margin-top: vw(21px);
  }
  .checkbox-field .wpcf7-list-item-label {
    gap: vw(10px);
    font-size: vw(20px);

    &::before {
      width: vw(34px);
      height: vw(34px);
    }

    &::after {
      width: vw(21px);
      height: vw(15px);
    }
  }
  .filter-select {
    margin-bottom: vw(48px);
  }

  .footer::after {
    background: url("../img/footer-bg-mob.jpg") no-repeat center top / 100% 100%;
  }

  .modal-container {
    max-width: 100%;
  }
  .modal-wrapper {
    padding-top: 120%;
  }
  .modal-container .cls {
    width: vw(20px);
    height: vw(20px);
    top: vw(10px);
    right: vw(10px);
  }
  .modal-wrapper .video-container {
    padding: vw(40px) vw(10px) vw(10px);
  }

  .modal-window {
    .backplate {
      &::before, &::after {
        width: vw(194px);
        height: vw(200px);
      }
    }
  }
  //done px
}